@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #0e1013;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
/* width */

.test {
  color: #fcebb8;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  @apply bg-transparent w-2;
}

*::-webkit-scrollbar-thumb {
  @apply bg-[#fcdc7b]/60 rounded-full hover:bg-[#fcdc7b]/80;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-[#fcdc7b]/80 h-8;
}

.link {
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 2px;
  right: 0;
  background: #534e38;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: #faeb86;
}

.GFG {
  border-radius: 50%;
  background: transparent;
}
.GFG:hover {
  background-color: transparent;
  box-shadow: 0 0 20px rgb(69, 63, 25);
}

.link {
  position: relative;
}
